PORT=5000
MONGODB_URI=mongodb://huzefa:huzefa@ac-ngiqjvy-shard-00-00.uakdmp9.mongodb.net:27017,ac-ngiqjvy-shard-00-01.uakdmp9.mongodb.net:27017,ac-ngiqjvy-shard-00-02.uakdmp9.mongodb.net:27017/?ssl=true&replicaSet=atlas-thcs78-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
NODE_ENV=development